.about__skills-container
  display flex
  align-content center
  align-items center
  justify-content center
  margin-bottom 20px

.about__skill
  margin 0 5px
  padding 10px 20px
  background $yellow2
  border-radius 3px
  color #fff