.bg-yellow
    background-color $yellow

.bg-brown
    background-color $brown

.bg-brown2
    background-color $brown2

.bg-yellowgreen
    background-color $yellowGreen

.bg-yellow2
    background-color $yellow2