.border-yellow
    border 1px solid $yellow

.border-brown
    border 1px solid $brown

.border-brown2
    border 1px solid $brown2

.border-yellowgreen
    border 1px solid $yellowGreen

.border-yellow2
    border 1px solid $yellow2

.border-top
    border-left none
    border-right none
    border-bottom none

.border-left
    border-top none
    border-right none
    border-bottom none

.border-right
    border-top none
    border-left none
    border-bottom none

.border-bottom
    border-top none
    border-left none
    border-right none