body
  margin 0
  padding 0
  font-family 'Open Sans', sans-serif
  font-size 100%
  color $yellow2
  background $brown

  @media screen and (min-width: $smallDesktop)
    font-size 16px
    
img
  width 100%

.container
  width 90%
  margin 0 auto

  @media screen and (min-width: $largeDesktop)
    max-width 1400px