/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import text-colors
@import background-colors
@import borders
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body
  margin 0
  padding 0
  font-family 'Open Sans', sans-serif
  font-size 100%
  color $yellow2
  background $brown

  @media screen and (min-width: $smallDesktop)
    font-size 16px